// Hero
#hero-project-title {
  @include span-columns(12);
  @include first-section-margin-top;
  padding: 0 $small-spacing 0 0;

  //Responsive large screen
  @include media(min-width em(768) max-width em(1200)) {
    @include span-columns(8);
    @include shift(2);
    margin-bottom: 0;
  }

  //Responsive medium screen
  @include media(min-width em(620) max-width em(767.9)) {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 0;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    margin-bottom: 0;
    padding: 0 1em;
  }
}

#hero-project-descrip {
  @include span-columns(6);
  padding: 1em 0 0 0;
  margin-bottom: $medium-spacing;

  //Responsive medium to large screen
  @include media(min-width em(768) max-width em(1200)) {
    @include span-columns(8);
    @include shift(2);
    margin-bottom: 0;
  }

  //Responsive medium screen
  @include media(min-width em(480) max-width em(767.9)) {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 0;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    margin-bottom: 0;
    padding: 0 1em;
  }
}

.hero-sidebar {
  @include span-columns(3);
  padding: 1em 0 0 0;

  //Responsive medium to large screen
  @include media(min-width em(768) max-width em(1200)) {
    @include span-columns(3);
    @include shift(2);
    margin-top: 0;
    padding: 0;
  }

  //Responsive medium screen
  @include media(min-width em(620) max-width em(767.9)) {
    @include span-columns(4);
    @include shift(1);
    margin-top: 0;
    padding: 0;
  }

  //Responsive small to medium screen
  @include media(min-width em(480) max-width em(619.9)) {
    @include span-columns(10);
    @include shift(1);
    margin-top: 0;
    padding: 0;
  }
  
  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    margin-top: 0;
    padding: 0 1em;
  }
}

ul.hero-sidebar-list {
  display: table;
  margin-bottom: $small-spacing;

  li {
    width: 100%;
  }
}

.outcomes {
  margin-bottom: $extra-small-spacing;
}

// Main case study content
.main-content-copy {
  @include span-columns(8);
  @include shift(2);

  @at-root h2#{&} {
    margin-top: $extra-small-spacing;
    text-align: center;
  }

  @at-root ul#{&} {
    @include shift(1);
    margin-bottom: $medium-spacing;
  }

  @at-root li#{&} {
    list-style-type: disc;
    width: 100%;
  }

  //Responsive medium screen
  @include media(min-width em(480) max-width em(767.9)) {
    @include span-columns(10);
    @include shift(1);
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }
}

.main-content-image {
  @include span-columns(10);
  @include shift(1);
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;

  @at-root p#{&} {
    @include span-columns(8);
    @include shift(2);
    color: $medium-gray;
    font-family: $caption-font-family;
    font-size: $base-font-size; /*16pt*/;
    margin-top: 0;
    margin-bottom: $medium-spacing;
    padding: 0 $small-spacing;

    // Responsive medium screen
    @include media(min-width em(480) max-width em(767.9)) {
      @include span-columns(10);
      @include shift(1);
    }
    
    //Responsive small screen
    @include media(max-width em(479.9)) {
      @include span-columns(12);
      @include shift(0);
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }

}

.main-content-image-medium {
  @include span-columns(8);
  @include shift(2);
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;

  //Responsive medium screen
  @include media(min-width em(480) max-width em(767.9)) {
    @include span-columns(10);
    @include shift(1);
    padding-left: 1em;
    padding-right: 1em;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }

}

.main-content-image-small {
  @include span-columns(6);
  @include shift(3);
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;

  //Responsive medium screen
  @include media(min-width em(480) max-width em(767.9)) {
    @include span-columns(9);
    @include shift(1.5);
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(11);
    @include shift(0.5);
  }

}

.main-content-list {
  clear: both;

  @at-root ul#{&} {
    @include span-columns(8);
    @include shift(2);
    padding-left: 2em;
    margin-top: $small-spacing * -1;
    margin-bottom: $small-spacing;

    //Responsive medium screen
    @include media(min-width em(480) max-width em(767.9)) {
      @include span-columns(10);
      @include shift(1);
      padding-left: 1em;
      padding-right: 1em;
    }

    //Responsive small screen
    @include media(max-width em(479.9)) {
      @include span-columns(12);
      @include shift(0);
      padding-right: 1em;
    }
  }

  @at-root li#{&} {
    display: list-item;
    list-style: disc outside;
    width: 100%;
  }
}

.main-content-video {
  @include span-columns(10);
  @include shift(1);
  overflow: hidden;
  position: relative;
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;

  &::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }

}

.rounded {
  border-radius: $base-border-radius;
}

.rounded-half {
  border-radius: calc($base-border-radius / 2);
}

//More Work
.more-work-item {
  @include outer-container;
  margin: auto auto ($medium-spacing + $small-spacing);
}

.more-work-image {
  @include span-columns(4);
  @include shift(1);
  transition: $base-transition;

  &:hover {
    transform: scale($base-scale);
  }

  //Responsive medium screen
  @include media(min-width em(560) max-width em(768)) {
    @include span-columns(5);
    @include shift(0);
    padding-left: 1em;
  }

  //Responsive small to medium screen
  @include media(min-width em(480) max-width em(559.9)) {
    @include span-columns(10);
    @include shift(1);
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }
}

.more-work-text {
  @include span-columns(6);
  padding: $extra-small-spacing 0 0 $small-spacing;

  //Responsive medium screen
  @include media(min-width em(560) max-width em(1023.9)) {
    @include span-columns(7);
    padding-top: 0;
  }

  //Responsive small to medium screen
  @include media(min-width em(480) max-width em(559.9)) {
    @include span-columns(8);
    @include shift(2);
    padding: ($small-spacing + $extra-small-spacing) 0 0;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(10);
    @include shift(1);
    padding: $small-spacing 0 0;
  }
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */ 
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spacer-bottom-med {
  margin-bottom: $medium-spacing;
}

.miscellaneous-col1 {
  @include media(max-width em(619.9)) {
    margin-bottom: 0 !important;
  }
}

.miscellaneous-col2 {
  margin-top: 1.75em;

  @include media(max-width em(619.9)) {
    margin-top: 0;
  }
}

#bff,
#yesgogo,
#driver-maps,
#delivery-zones, 
#order-details,
#order-reassignment {
  scroll-behavior: smooth;
}