.staticrypt-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.staticrypt-form {
  @include span-columns(6);
  @include shift(3);
  border-radius: $base-border-radius;
  box-shadow: 0 0 $small-spacing 0 $base-border-color, 0 0.5em 0.5em 0 $base-border-color;
  margin-bottom: $small-spacing;
  padding: $medium-spacing + $small-spacing $medium-spacing $medium-spacing;
  background-color: $l1-background-color;

  //Responsive medium screen
  @include media(min-width em(560) max-width em(767.9)) {
    @include span-columns(8);
    @include shift(2);
    padding: $medium-spacing;
  }

  //Responsive small to medium screen
  @include media(min-width em(480) max-width em(559.9)) {
    @include span-columns(10);
    @include shift(1);
    padding: $medium-spacing;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(12);
    @include shift(0);
    padding: $medium-spacing $small-spacing $small-spacing;
  }

  //Dark mode
  @media (prefers-color-scheme: dark) {
    border: 2px solid $base-border-color-dark;
    box-shadow: none;
    background-color: $l1-background-color-dark;
    //box-shadow: 0 0 $small-spacing 0 darken($base-background-color-dark, 2%), 0 0.5em 0.5em 0 darken($base-background-color-dark, 3%);
  }
}

.staticrypt-decrypt-button {
    text-transform: uppercase;
    width: 100%;
    color: $base-background-color;
    cursor: pointer;
}

.staticrypt-instructions {
    margin-top: -1em;
    margin-bottom: 1em;
}

.staticrypt-footer {
    position: fixed;
    height: 20px;
    font-size: 16px;
    padding: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.staticrypt-footer p {
    margin: 2px;
    text-align: center;
    float: right;
}

.staticrypt-footer a {
    text-decoration: none;
}

.staticrypt-remember {
  display: none;
}