footer {
  @include outer-container;
  padding: $small-spacing 0;
  text-align: center;

  //Responsive medium screen
  @include media(max-width em(1200)) {
    padding: 1em 1em $small-spacing 1em; /*15px top*/
  }

  p {
    margin: 0 0 $extra-small-spacing;
  }
}

.footer-social{
  @include social-table;
  margin: 0 auto $small-spacing;
}
