body {
  background-color: $base-background-color;
  //Dark mode
  @media (prefers-color-scheme: dark) {
    background-color: $base-background-color-dark;
  }
}

.outer-container, .main-content {
  @include outer-container;
}

@mixin first-section-margin-top {
  margin-top: ($nav-total-height + $medium-spacing);

  //Responsive small screen
  @include media(max-width 479px) {
    margin-top: ($nav-total-height + $small-spacing);
  }
}
