@include selection {
  background: $orange-highlight;

  //Dark mode
  @media (prefers-color-scheme: dark) {
    background: $seafoam-highlight;
  }
}

body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  //Dark mode
  @media (prefers-color-scheme: dark) {
    color: $base-font-color-dark;
  }
}

h1 {
  font-family: $heading-font-family;
  font-size: ($base-font-size * 3.25); /*48pt*/
  font-weight: 750;
  line-height: $heading-line-height;
  margin: 0 0 calc($extra-small-spacing / 2);

  &.more-work {
    font-weight: 750;
    text-align: center;
    margin-bottom: $small-spacing;
  }

  &.name {
    font-weight: 750;
    margin: 0;
  }

  //Responsive medium screen
  @include media(max-width em(619.9)) {
    font-size: ($base-font-size * 2.5); /*40pt*/
    text-align: center;
    margin: 0 0 calc($extra-small-spacing / 2);
  }
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: ($base-font-size * 1.875); /*30pt*/
    font-weight: 750;
    line-height: $heading-line-height;
    margin: 0 0 $extra-small-spacing;

    &.project-name {
      margin-bottom: (calc($extra-small-spacing / 2));
      font-weight: 750;

      //Responsive medium screen
      @include media(max-width em(619.9)) {
        text-align: center;
      }
    }

    //Responsive medium screen
    @include media(max-width em(619.9)) {
      font-size: ($base-font-size * 1.5); /*24pt*/
    }
  }

p {
  margin: 0 0 $small-spacing;
  font-size: $base-font-size * 1.125; /*18pt*/

  &.hero {
    font-size: ($base-font-size * 1.5); /*24pt*/
    line-height: 1.5;
    margin: $extra-small-spacing 0 $small-spacing;
  }

  &.legal {
    color: $medium-gray;
    font-size: ($base-font-size * 0.875); /*14pt*/
    margin: 0;
  }

  &.new-text {
    font-size: ($base-font-size * 1.5); /*24pt*/
    margin: 0;
  }

  &.password-required {
    background-color: $base-background-color;
    border: 1px solid $base-border-color;
    border-radius: calc($base-border-radius / 2);
    color: $medium-gray;
    display: inline-block;
    font-family: $medium-font-family;
    font-size: $base-font-size * 0.8;
    margin-bottom: 0;
    padding: calc($extra-small-spacing / 4) calc($extra-small-spacing / 2);
    vertical-align: 1px;

    //Dark mode
    @media (prefers-color-scheme: dark) {
      background-color: $base-background-color-dark;
      border: 1px solid $base-border-color-dark;
    }
  }
  

  &.project-overview {
    &:first-child {
      margin-bottom: 1.125em;
    }

    //Responsive screens
    @include media(max-width em(1200)) {
      margin-bottom: ($small-spacing + $extra-small-spacing);
    }
  }

  &.work-text-description {
    margin-top: $small-spacing;
  }

}

a {
  color: $action-color;
  font-family: $medium-font-family;
  text-decoration: none;

  //Dark mode
  @media (prefers-color-scheme: dark) {
    color: $action-color-dark;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.new-window {
    position: relative;
    width: fit-content;
  
    &:after {
      content: "↗︎";
      left: 100%;
      top: 0%;
      opacity: 0;
      position: absolute;
      transition: $base-transition;
    }
  
    &:hover {
      color: $action-color;
      text-decoration: none;

      //Dark mode
      @media (prefers-color-scheme: dark) {
        color: $action-color-dark;
      }
  
        &:after {
        transition: $base-transition;
        left: 108%;
        top: -18%;
        opacity: 1;
      }
    }
  }

  &.back-to-top {
    font-size: $base-font-size;
    position: relative;
    width: fit-content;
  
    &:after {
      content: "↑";
      left: -20%;
      top: 10%;
      opacity: 0;
      position: absolute;
      transition: $base-transition;
    }
  
    &:hover {
      color: $action-color;
      text-decoration: none;

      //Dark mode
      @media (prefers-color-scheme: dark) {
        color: $action-color-dark;
      }
  
        &:after {
        transition: $base-transition;
        left: -20%;
        top: -20%;
        opacity: 1;
      }
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0 0 ($medium-spacing + $small-spacing);

  //Dark mode
  @media (prefers-color-scheme: dark) {
    border-bottom: $base-border-dark;
  }

  //Responsive medium to large screen
  @include media(min-width em(480) max-width em(1200)) {
    @include span-columns(10);
    @include shift(1);
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
  }

  //Responsive small screen
  @include media(max-width em(479.9)) {
    @include span-columns(10);
    @include shift(1);
    margin-top: $medium-spacing;
    margin-bottom: $medium-spacing;
  }

  &.bottom-divider {
    margin: $medium-spacing 0 ($medium-spacing + $small-spacing);

    //Responsive large screen
    @include media(min-width em(480) max-width em(1200)) {
      @include span-columns(10);
      @include shift(1);
    }

    //Responsive small screen
    @include media(max-width em(479.9)) {
      @include span-columns(10);
      @include shift(1);
      margin-top: $medium-spacing;
      margin-bottom: $medium-spacing;
    }
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.center {
  text-align: center;
}

.label {
  color: $medium-gray;
  font-size: $base-font-size;
  margin: 0;

  &-large {
    color: $medium-gray;
    font-size: $base-font-size * 1.125;
    font-family: $regular-font-family;
    margin: 0;
  }

  &-miscellaneous {
    color: $medium-gray;
    font-size: $base-font-size * 1.125;
    font-family: $medium-font-family;
    margin: calc($extra-small-spacing / -2) 0 $small-spacing 0;
    text-align: center;
  }
}

.tag {
  background-color: $base-background-color;
  border: 1px solid $base-border-color;
  border-radius: calc($base-border-radius / 2);
  color: $medium-gray;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: 0;
  padding: calc($extra-small-spacing / 4) calc($small-spacing / 2);
  vertical-align: 1px;

  //Dark mode
  @media (prefers-color-scheme: dark) {
    background-color: $base-background-color-dark;
    border: 1px solid $base-border-color-dark;
  }
}

.strong {
  font-family: $medium-font-family;
}

.uppercase {
  text-transform: uppercase;
}
