// Typography
@font-face {
    font-family: plus-jakarta-sans;
    src:
        url('../fonts/plus-jakarta-sans/plus-jakarta-sans-variable/PlusJakartaSans-Variable.woff2') format(woff2),
        url('../fonts/plus-jakarta-sans/plus-jakarta-sans-variable/PlusJakartaSans-Variable.woff') format(woff),
        url('../fonts/plus-jakarta-sans/plus-jakarta-sans-variable/PlusJakartaSans-Variable.eot') format(eot),
        url('../fonts/plus-jakarta-sans/plus-jakarta-sans-variable/PlusJakartaSans-Variable.ttf') format(ttf);
}
@include font-face("montserrat-bold", "../fonts/montserrat/montserrat-bold/Montserrat-Bold", $file-formats: eot woff ttf svg);
@include font-face("roboto-light", "../fonts/roboto/roboto-light/Roboto-Light-webfont", $file-formats: eot woff ttf svg);
@include font-face("roboto-light-italic", "../fonts/roboto/roboto-light-italic/Roboto-LightItalic-webfont", $file-formats: eot woff ttf svg);
@include font-face("roboto-medium", "../fonts/roboto/roboto-medium/Roboto-Medium-webfont", $file-formats: eot woff ttf svg);
@include font-face("ibm-plex-sans-light", "../fonts/ibm-plex-sans/ibm-plex-sans-light/IBMPlexSans-Light", $file-formats: ttf);
@include font-face("ibm-plex-sans-italic", "../fonts/ibm-plex-sans/ibm-plex-sans-italic/IBMPlexSans-Italic", $file-formats: ttf);
@include font-face("ibm-plex-sans-medium", "../fonts/ibm-plex-sans/ibm-plex-sans-medium/IBMPlexSans-Medium", $file-formats: ttf);

$heading-font-family: "plus-jakarta-sans", "montserrat-bold", "Helvetica", "Arial", sans-serif;
$base-font-family: "ibm-plex-sans-light", "roboto-light", "Helvetica", "Arial", sans-serif;
$caption-font-family: "ibm-plex-sans-italic", "roboto-light-italic", "Helvetica", "Arial", sans-serif;
$medium-font-family: "ibm-plex-sans-medium", "roboto-medium", "Helvetica", "Arial", sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.75;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 1em;
$base-spacing: 6em;
$medium-spacing: calc($base-spacing / 2);
$small-spacing: calc($base-spacing / 4);
$extra-small-spacing: calc($base-spacing / 8);
$base-z-index: 0;
$nav-content-height: 3.75em; /*60px*/
$nav-total-height: 5.625em; /*90px*/
$base-scale: 1.02;

// Colors
$orange: #ff3d33;
$orange-highlight: #fbe0cc;
$dark-gray: #363636;
$medium-gray: #a19e9c;
$light-gray: #ebebeb;
$base-background-color: #faf7f4;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 2px solid $base-border-color;

// Forms
$form-focus-color: darken($base-border-color, 5%);
$form-box-shadow: inset 0 1px 4px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($form-focus-color, $lightness: -5%, $alpha: -0.3);

// Interactions
$base-hover-opacity: 0.8;
$base-transition: all 0.2s;
